@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    display: flex;
    font-family: poppins;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.hd {
    text-align: center;
    background-image: url(FB_IMG_16935819160167201.jpg);
    color: white;
    margin: 0;
    margin-bottom: 20px;
    padding: 110px 0;
    width: 100%;
}

.center {
    display: block;
    box-sizing: border-box;
    border-style: none;
    margin-left: auto;
    border-radius: 30%;
    margin-right: auto;
    margin-top: -18%;
    border: 7px solid rgb(255, 255, 255);
    padding: 0;
    border-image: space;
    border-radius: 125%;
  }

  .para {
    margin-top: -0.8%;
    color: black;
    font-weight: bold; font-size: 20px;
  }

  .para2 {
    margin-top: -0.8%;
    color: rgb(41, 40, 40);
    text-align: center;
    font-size: 20px;
  }

form {
    height: 35rem;
    width: 32rem;
    background-color: white;
    color: black;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 10%;
}

hr {
    margin-top: 55px;
}

.social-media-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}


.social-media-icons li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 90px;
}

li a {
    height: 60px;
    width: 60px;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
}

.one {
    font-size: 15px;
    color: gray;
    font-weight: 700;
    font-size: 20px;
    margin-top: -77px;
}

.two {
    font-size: 15px;
    color: gray;
    font-weight: 700;
    font-size: 20px;
    margin-top: -77px;
}

.three {
    font-size: 15px;
    color: gray;
    font-weight: 700;
    font-size: 20px;
    margin-top: -77px;
}